# dependencies / build
node_modules/
dist/
dist-ssr/
*.local
dev-dist/

# logs
*.log
npm-debug.log*

# system files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# editors
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*~
